input {
    stdin {
    }
    jdbc {
      # mysql jdbc connection string to our backup databse
      jdbc_connection_string => "jdbc:mysql://172.24.19.174:3306/mecp"
      # the user we wish to excute our statement as
      jdbc_user => "mecp"
      jdbc_password => "xW8QGJ"
      # the path to our downloaded jdbc driver
      jdbc_driver_library => "D:/es/logstash-6.1.0/bin/mysql-connector-java-5.1.42.jar"
      # the name of the driver class for mysql
      jdbc_driver_class => "com.mysql.jdbc.Driver"
      jdbc_paging_enabled => "true"
      jdbc_page_size => "50000"
      statement => "SELECT * from logstash_test"
      schedule => "* * * * *"
      type => "jdbc"
    }
}

filter {
    json {
        source => "message"
        remove_field => ["message"]
    }
}

output {
    elasticsearch {
        hosts => "127.0.0.1:9200"
        index => "mysql01"
        #document_id => "%{BPDK_ID}"
      
    }
    stdout {
        codec => json_lines
    }
}